
@import "variable";
@import "fix";


.servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    height: auto;
    grid-gap: 0.3rem;
    grid-template-areas: 
    "gif gif gif gif"
    "suite suite ma-suite ma-suite"
    "j-suite j-suite m-suite m-suite"
    "hogar entrega seguro peluqueria"
    "s-mapa s-mapa s-mapa img";

    @media screen and (max-width: 950px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-template-areas: 
        "gif gif"
        "suite suite"
        "ma-suite ma-suite"
        "j-suite j-suite"
        "m-suite m-suite"
        "hogar entrega"
        "seguro peluqueria" 
        "s-mapa s-mapa" 
        "img img";
    }

    &__gif {
        grid-area: gif;
        grid-row: 1;
        grid-column: 1 2 3 4;
        background-color: $color-fondo;
        @extend %centrado;

        @media screen and (max-width: 950px) {
            grid-row: 1;
            grid-column: 1 2;
        }

        
        
    }

    &__suite {
        grid-area: suite;
        grid-row: 2;
        grid-column: 1 2;
        @extend %card;

        @media screen and (max-width: 950px) {
            grid-row: 2;
            grid-column: 1 2;
        }

        
   
    }

    &__master {
        grid-area: ma-suite;
        grid-row: 2;
        grid-column: 3 4;
        @extend %card;

        @media screen and (max-width: 950px) {
            grid-row: 3;
            grid-column: 1 2;
        }

        
    }

    &__junior {
        grid-area: j-suite;
        grid-row: 3;
        grid-column: 1 2;
        @extend %card;

        @media screen and (max-width: 950px) {
            grid-row: 4;
            grid-column: 1 2;
        }

        
    }

    &__mini {
        grid-area: m-suite;
        grid-row: 3;
        grid-column: 3 4;
        @extend %card;

        @media screen and (max-width: 950px) {
            grid-row: 5;
            grid-column: 1 2;
        }
    }

    &__hogar {
        grid-area: hogar;
        grid-row: 4;
        grid-column: 1;
        @extend %tarjeta;

        @media screen and (max-width: 950px) {
            grid-row: 6;
            grid-column: 1;
        }
       
        h2{
            font-size: 20px;
        padding-left: 0rem;
        letter-spacing: 0rem;
        font-style: italic;
        font-weight: 600;
        line-height: 3rem;
        }
        
    }

    &__entrega {
        grid-area: entrega;
        grid-row: 4;
        grid-column: 2;
        @extend %tarjeta;

        @media screen and (max-width: 950px) {
            grid-row: 6;
            grid-column: 2;
        }

        h2{
            font-size: 20px;
        padding-left: 0rem;
        letter-spacing: 0rem;
        font-style: italic;
        font-weight: 600;
        line-height: 3rem;
        }
        
       
    }
    
    &__seguro {
        grid-area: seguro;
        grid-row: 4;
        grid-column: 3;
        @extend %tarjeta;

        @media screen and (max-width: 950px) {
            grid-row: 7;
            grid-column: 1;
        }

        h2{
            font-size: 20px;
        padding-left: 0rem;
        letter-spacing: 0rem;
        font-style: italic;
        font-weight: 600;
        line-height: 3rem;
        }
        
        
    }
    
    &__peluqueria {
        grid-area: peluqueria;
        grid-row: 4;
        grid-column: 4;
        @extend %tarjeta;

        @media screen and (max-width: 950px) {
            grid-row: 7;
            grid-column: 2;
        }

        h2{
            font-size: 20px;
        padding-left: 0rem;
        letter-spacing: 0rem;
        font-style: italic;
        font-weight: 600;
        line-height: 3rem;
        }
        
    }
    
    &__mapa {
        grid-area: s-mapa;
        grid-row: 5;
        grid-column: 1 2 3;
        background-color: $color-fondo;
        @include flex(space-evenly, center);

        @media screen and (max-width: 950px) {
            grid-row: 8;
            grid-column: 1 2;
        }
    }
    
    &__imagen {
        grid-area: img;
        grid-row: 5;
        grid-column: 4;
        background-color: $color-fondo;
        @extend %centrado;

        @media screen and (max-width: 950px) {
            grid-row: 9;
            grid-column: 1 2 !important;
        }

        

    }
}