@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #897248;
    font-weight: bold;
}

a:hover{
    color: #aea187;
}

p{
    padding-left: 10px;
}

h1{
    padding-left: 2rem;
    font-size: 25px;
    letter-spacing: 0.3rem;
    font-style: italic;
    font-weight: 600;
    line-height: 3rem;
}

body {
    font-size: 14px;
    font-family: "Roboto", Helvetica, sans-serif;
    color: black;
    line-height: 30px;

}


.nav-enlace a{
    color: #897248;
    font-weight: bold;
}

.fondo-nav {
    background-color: rgb(240, 249, 253);
}

.barra-nav {
    font-size: 22px;

}



.barra-item{
    padding-left: 4em;
}

.index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    height: auto;
    grid-gap: 0.3rem;
    grid-template-areas: 
    "baner baner"
    "presentacion descripcion"
    "unicos imagen";
}

.index-baner {
    grid-area: baner;
    background-color: rgb(240, 249, 253);
    display: flex;
    justify-content: center;
    align-items: center;

}


.index-presentacion {
    grid-area: presentacion;
    background-color: rgb(240, 249, 253);
    padding-top: 1rem;


}


.index-descripcion {
    grid-area: descripcion;
    background-color: rgb(240, 249, 253);
    padding-top: 1rem;

}


.index-imagen {
    grid-area: imagen;
    background-color: rgb(240, 249, 253);
    display: flex;
    justify-content: center;

}

.index-unicos {
    grid-area: unicos;
    background-color: rgb(240, 249, 253);
    padding-top: 1rem;
}



.servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    height: auto;
    grid-gap: 0.3rem;
    grid-template-areas: 
    "gif gif gif gif"
    "suite suite ma-suite ma-suite"
    "j-suite j-suite m-suite m-suite"
    "hogar entrega seguro peluqueria"
    "mapa mapa mapa imagen";
}

.servicios-gif {
    grid-area: gif;
    background-color: rgb(240, 249, 253);
    display: flex;
    justify-content: center;
    align-items: center;
}



.servicios-suite {
    grid-area: suite;
    background-color: rgb(240, 249, 253);
}

.servicios-ma-suite {
    grid-area: ma-suite;
    background-color: rgb(240, 249, 253);
}

.servicios-j-suite {
    grid-area: j-suite;
    background-color: rgb(240, 249, 253);
}

.servicios-m-suite {
    grid-area: m-suite;
    background-color: rgb(240, 249, 253);
}

.suite {
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    border: 1px solid;
    display: flex;
}



.gris {
    color: grey;
    display: flex;
    justify-content: last baseline;
    align-items: baseline;
    font-size: 18px;
}


.servicios-hogar {
    grid-area: hogar;
    background-color: rgb(240, 249, 253);
}

.hogar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #D0D0D0;
    text-align: center;
}

.hogar h1 {
    font-size: 20px;
    padding-left: 0rem;
    letter-spacing: 0rem;
}

.servicios-entrega {
    grid-area: entrega;
    background-color: rgb(240, 249, 253);
}

.servicios-seguro {
    grid-area: seguro;
    background-color: rgb(240, 249, 253);
}

.servicios-peluqueria {
    grid-area: peluqueria;
    background-color: rgb(240, 249, 253);
}

.servicios-mapa {
    grid-area: mapa;
    background-color: rgb(240, 249, 253);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.servicios-imagen {
    grid-area: imagen;
    background-color: rgb(240, 249, 253);
    display: flex;
    justify-content: center;
    align-items: center;
}




.habitaciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    height: auto;
    grid-gap: 0.3rem;
    grid-template-areas: 
    "frase frase frase frase"
    "descripcion descripcion descripcion imagen"
    "zen-suite zen-suite white-vibes white-vibes"
    "happy-day happy-day rainy-day rainy-day"
    "actividades actividades actividades actividades"
    "piscina piscina montana montana"
    "lago lago recreo recreo";
}

.habitaciones-frase {
    grid-area: frase;
    background-color: rgb(240, 249, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.habitaciones-frase h1 {
    font-size: 22px;
    letter-spacing: 0rem;
   
}

.habitaciones-descripcion {
    grid-area: descripcion;
    background-color: rgb(240, 249, 253);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}

.habitaciones-imagen {
    grid-area: imagen;
    background-color: rgb(240, 249, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.habitaciones-zen {
    grid-area: zen-suite;
    background-color: rgb(240, 249, 253);
    
}

.habitaciones-white {
    grid-area: white-vibes;
    background-color: rgb(240, 249, 253);
    
}

.habitaciones-rainy {
    grid-area: rainy-day;
    background-color: rgb(240, 249, 253);
    
}

.habitaciones-happy {
    grid-area: happy-day;
    background-color: rgb(240, 249, 253);
    
}

.habitaciones-card {
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    border: 1px solid;
    display: flex;
    justify-content: center;
}


.precio {
    color: grey;
    display: flex;
    justify-content: last baseline;
    align-items: baseline;
    font-size: 18px;
}


.habitaciones-titulo {
    grid-area: actividades;
    display: flex;
    justify-content: center;
    
}

.habitaciones-piscina {
    grid-area: piscina;
    background-color: rgb(240, 249, 253);
    
}

.habitaciones-montana {
    grid-area: montana;
    background-color: rgb(240, 249, 253);
    
}

.habitaciones-lago {
    grid-area: lago;
    background-color: rgb(240, 249, 253);
    
}

.habitaciones-recreo {
    grid-area: recreo;
    background-color: rgb(240, 249, 253);
    
}

.actividades-card {
    background-color: white;
    border: 1px solid #D0D0D0;
    display: flex;
    justify-content: center;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    height: auto;
    grid-gap: 0.3rem;
    grid-template-areas: 
    "hotel-title"
    "hotel"
    "recreo-title"
    "recreo"
    "piscina-title"
    "piscina"
    "montana-title"
    "montana";
}

.galeria-hotel-title {
    grid-area: hotel-title;
    background-color: rgb(240, 249, 253);
    display: flex;
    justify-content: center;
    align-items: center;


}

.galeria-hotel {
    grid-area: hotel;
    background-color: rgb(240, 249, 253);
    display: flex;
    justify-content: center;
    align-items: center;

}

.galeria-recreo-title {
    grid-area: recreo-title;
    background-color: rgb(240, 249, 253);
    display: flex;
    justify-content: center;
    align-items: center;


}

.galeria-recreo {
    grid-area: recreo;
    background-color: rgb(240, 249, 253);
    display: flex;
    justify-content: center;
    align-items: center;


}

.galeria-piscina-title {
    grid-area: piscina-title;
    background-color: rgb(240, 249, 253);
    display: flex;
    justify-content: center;
    align-items: center;

}

.galeria-piscina {
    grid-area: piscina;
    background-color: rgb(240, 249, 253);
    display: flex;
    justify-content: center;
    align-items: center;

}

.galeria-montana-title {
    grid-area: montana-title;
    background-color: rgb(240, 249, 253);
    display: flex;
    justify-content: center;
    align-items: center;

}

.galeria-montana {
    grid-area: montana;
    background-color: rgb(240, 249, 253);
    display: flex;
    justify-content: center;
    align-items: center;

}

.medida {
    width: 40rem;
}



.contacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    height: auto;
    grid-gap: 0.3rem;
    grid-template-areas: 
    "gif-casa gif-casa gif-casa gif-casa"
    "nosotros nosotros nosotros nosotros"
    "contactos contactos contactos imagen"
    "mapa mapa direccion formulario";
}

.contacto-gif {
    grid-area: gif-casa;
    background-color: rgb(240, 249, 253);
    display: flex;
    justify-content: center;
    align-items: center;

}

.contacto-nosotros {
    grid-area: nosotros;
    background-color: rgb(240, 249, 253);

}

.contacto-contactos {
    grid-area: contactos;
    background-color: rgb(240, 249, 253);

}

.contacto-contactos ul{
   list-style: none;
   line-height: 60px;

}

.contacto-orden {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.contacto-imagen {
    grid-area: imagen;
    background-color: rgb(240, 249, 253);
    display: flex;
    justify-content: center;
    align-items: center;

}

.contacto-mapa {
    grid-area: mapa;
    background-color: rgb(240, 249, 253);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.contacto-direccion {
    grid-area: direccion;
    background-color: rgb(240, 249, 253);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.contacto-formulario {
    grid-area: formulario;
    background-color: rgb(240, 249, 253);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}









.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(240, 249, 253);
   

}

.footer-contacto{
   
    display: flex;
   
    padding-top: 30px;

}

.footer-contenido{
  
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.footer-contenido h1{
   padding: 0;

}

.footer-contenido ul{
    text-align: center;
    list-style: none;
}

.logo{
   
    text-align: center;
    padding-top: 20px;

}



@media screen and (max-width: 950px) {

    
    .index {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
        "baner"
        "presentacion"
        "descripcion"
        "unicos"
        "imagen";
        }

        .servicios {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto auto auto auto auto auto;
            grid-template-areas: 
            "gif gif"
            "suite suite"
            "ma-suite ma-suite"
            "j-suite j-suite"
            "m-suite m-suite"
            "hogar entrega"
            "seguro peluqueria" 
            "mapa mapa" 
            "imagen imagen";
        }

       

        .galeria {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto auto auto auto auto;
            grid-template-areas: 
            "hotel-title"
            "hotel"
            "recreo-title"
            "recreo"
            "piscina-title"
            "piscina"
            "montana-title"
            "montana";
        }

        .medida {
            width: 25rem;
        }

        .contacto {

            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto auto auto auto;
            grid-template-areas: 
            "gif-casa"
            "nosotros"
            "contactos"
            "imagen"
            "mapa" 
            "direccion"
            "formulario";
        }
        

}


@media screen and (max-width: 1320px) {
   
    .barra-item1{
        padding-left: 0em;
    }

    .barra-item{
        padding-left: 1.5em;
    }

}